<script setup lang="ts">
import { toast } from 'vue-sonner'
import Button from '@/components/ui/button/Button.vue';

const copy = (text: string) => {
    navigator.clipboard.writeText(text)

    toast('Copiado ✅')
}
const code = '8949461894984 6515648916 6548964631668'
</script>

<template>
  <div class="text-center">
    <h2 class="text-xl flex justify-center mb-4">Pagamento por boleto</h2>
    <span>Copie e cole o código no seu banco <br/> Ou leve até uma lotérica da Caixa para realizar o pagamento!</span>
    
    <div class="flex flex-col items-center justify-center">
      
      <div class="my-5 p-4 bg-white">
          <strong>{{ code }}</strong>
      </div>

      <strong @click="copy(code)" class="cursor-pointer mb-5 text-blue-500 text-sm">Clique aqui para copiar o código</strong>
    </div>
  </div>
</template>
