<script setup lang="ts">
import { Label } from '@/components/ui/label'
import { Input } from '@/components/ui/input';
import { reactive } from 'vue';

const form = reactive({
    date: '',
    cvv: '',
    name: '',
    number: '',
    cpf: ''
})

const handleChange = (value: string, type: string) => {
    switch (type) {
        case 'cvv':
            form.cvv = value.slice(0, 3);
        break;
        case 'name':
            form.name = value.toUpperCase()
        break;
        case 'number':
            form.number = value
        break;
        case 'cpf':
            form.cpf = value.replace(/(\d{3})(\d{3})(\d{3})(\d)/, '$1.$2.$3-$4');
        break;
        case 'date':
            form.date = value.replace(/^(\d{2})/, '$1/')
        break;
    }
}

</script>

<template>
  <div>
    <h2 class="text-xl flex justify-center mb-4">Preencha os dados de pagamento</h2>
    
    <div class="flex flex-col justify-center">
      <div class="mb-3">
          <Label>Nome Completo</Label>
          <Input
            v-model="form.name"
            @change="(e: any) => handleChange(e.target.value, 'name')"  
          />
      </div>

      <div class="mb-3">
          <Label>Número do cartão</Label>
          <Input
            v-model="form.number"
            @change="(e: any) => handleChange(e.target.value, 'number')"  
          />
      </div>

      <div class="mb-3">
          <Label>CPF do responsável pelo cartão</Label>
          <Input
            v-model="form.cpf"
            @change="(e: any) => handleChange(e.target.value, 'cpf')"  
          />
      </div>

      <div class="flex mb-8">
        <div class="mr-3">
            <Label>Validade</Label>
            <Input 
              v-model="form.date"
              @change="(e: any) => handleChange(e.target.value, 'date')" 
            />
        </div>
        <div class="max-w-[4em]">
            <Label>CVV</Label>
            <Input 
              v-model="form.cvv"
              @change="(e: any) => handleChange(e.target.value, 'cvv')"  
            />
        </div>
      </div>
    </div>
  </div>
</template>
