<script setup lang="ts">
import { onMounted, reactive } from 'vue';
import { Label } from '@/components/ui/label'
import { RadioGroup, RadioGroupItem } from '@/components/ui/radio-group'
import { Button } from '@/components/ui/button'

const props = defineProps<{
  setPayment: (s: string) => {}
}>()

const paymentMethod = reactive({ method: '' })
onMounted(() => {
  props.setPayment(methods[0].id)
})
const selectPaymentMethod = (value: string) => {
  paymentMethod.method = value
  props.setPayment(value)
}

const methods = [
  { label: 'PIX', id: 'pix'},
  { label: 'Cartão de crédito', id: 'credit-card'},
  { label: 'Boleto', id: 'billet'},
]
</script>

<template>
  <div class="text-center">
    <h2 class="text-xl flex justify-center mb-4">Escolha o método de pagamento</h2>
    
    <div class="flex flex-col justify-center">
      <RadioGroup v-model="paymentMethod.method" class="mb-12" default-value="pix">
      
        <Button
          v-for="method in methods"
          :key="method.id"
          :variant="method.id !== paymentMethod.method ? 'outline' : 'default'"
          @click="selectPaymentMethod(method.id)" 
          class="flex justify-between h-[2.4em]"
          :class="method.id !== paymentMethod.method && 'border-rose-500 hover:text-rose-500 text-rose-500'"
        >
          <Label class="cursor-pointer" :for="method.id">{{ method.label }}</Label>
          <RadioGroupItem class="bg-white" :id="method.id" :value="method.id" />
        </Button>
      </RadioGroup>
    </div>
  
    
  </div>
</template>
