<script setup lang="ts">
import { reactive } from 'vue';
import QRCodeVue from 'qrcode.vue';

const QRConfig = {
    text: 'https://flamepay.com.br/',
    qrOptions: {
      size: 400,
      bgColor: '#FFFFFF',
      fgColor: '#000000'
    }
}

const timer = reactive({ minutes: 9, seconds: 59 })
const countdown = setInterval(() => {
    if (timer.minutes === 0 && timer.seconds === 0) {
      clearInterval(countdown);
    } else if (timer.seconds === 0) {
        timer.minutes--;
        timer.seconds = 59;
    } else {
        timer.seconds--;
    }
}, 1000);
</script>

<template>
  <div class="text-center">
    <h2 class="text-xl flex justify-center mb-4">Pagamento via PIX</h2>
    <span>Faça a leitura do QR Code para finalizar o pagamento!</span>
    
    <div class="flex flex-col items-center justify-center">
      
      <div class="my-5">
          <QRCodeVue :text="QRConfig.text" :options="QRConfig.qrOptions"></QRCodeVue>
      </div>

      <strong class="mb-5 text-green-500 text-sm">Faltam {{ timer.minutes }}:{{ timer.seconds }} para expirar</strong>
    </div>
  </div>
</template>
