<script setup lang="ts">
import { Separator } from '@/components/ui/separator'
import { ScrollArea } from '@/components/ui/scroll-area'
import { onMounted, reactive } from 'vue';
import httpRequest from '../../lib/fetch'
import { format } from '../../lib/currency'
import { Product } from '@/types/product';

const data = reactive({ products: [], total: 0, totalWithRate: 0 })
onMounted(async () => {
  const response = await httpRequest('/api/products')
  data.products = response
  data.total = response.reduce((acc: number, cur: Product) => acc += cur.price, 0)
  data.totalWithRate = data.total + 100
})
</script>

<template>
  <div class="max-w-[25em] p-5 px-8 rounded bg-gray-100">
    <h2 class="text-xl flex justify-center mb-4">Detalhes da compra</h2>
    
    <Separator/>
  
    <div class="flex justify-between mb-12 mt-3">
      <span>Produtos:</span>
      <strong>{{format(data.total)}}</strong>
    </div>
  
    <Separator/>
  
    <div class="flex justify-between mb-6 mt-3">
      <span>Total:</span>
      <strong>{{format(data.totalWithRate)}}</strong>
    </div>

    <ScrollArea class="h-[200px]">
      <div v-for="product in data.products" :key="product.id" 
        class="border-l-4 border-rose-500 p-3 bg-gray-300 mb-4">
        <div class="flex justify-between">
          <span class="font-semibold">{{ product.name }}</span>
          <strong>{{ format(product.price) }}</strong>
        </div>
        <span class="text-sm">{{ product.description }}</span>
      </div>
    </ScrollArea>
  </div>
</template>
