<script setup lang="ts">
import QRCodeVue from 'qrcode.vue';

const QRConfig = {
    text: 'https://flamepay.com.br/',
    qrOptions: {
      size: 400,
      bgColor: '#FFFFFF',
      fgColor: '#000000'
    }
}

</script>

<template>
  <div class="text-center">
    <h2 class="text-xl flex justify-center mb-4">Obrigado por comprar com a gente!</h2>
    <span>Olá, João Vitor. Obrigado por comprar! <br />O QR CODE abaixo te dá 5% de desconto no site!</span>
    
    <div class="flex flex-col items-center justify-center">
      
      <div class="my-5">
          <QRCodeVue :text="QRConfig.text" :options="QRConfig.qrOptions"></QRCodeVue>
      </div>
    </div>
  </div>
</template>
