<script setup lang="ts">
import Badge from '@/components/ui/badge/Badge.vue'
import { Separator } from '@/components/ui/separator'

defineProps<{
  active: number
  previous: Function
}>()
</script>

<template>
  <div class="flex items-center mx-4">
    <ul>
        <li v-for="index in 3" :key="index"
            class="flex flex-col items-center"
        >
            <Badge
             @click="index == 1 ? previous() : () => {}"
             :variant="$props.active >= index ? 'default' : 'secondary'"
             class="rounded-full w-[2.3em] h-[2.3em] cursor-pointer"
            >
             {{ index  }}
            </Badge>
            <div v-if="index !== 3">
                <div class="w-1 h-1 bg-gray-200 rounded mb-1 mt-2"></div>
                <div class="w-1 h-1 bg-gray-200 rounded mb-1"></div>
                <div class="w-1 h-1 bg-gray-200 rounded mb-1"></div>
            </div>
        </li>
    </ul>
    <Separator
        class="h-[10em] ml-4"
        decorative
        orientation="vertical"
      />
  </div>
</template>
