<script setup lang="ts">
import { reactive } from 'vue';
import { Toaster } from '@/components/ui/sonner'
import Button from '@/components/ui/button/Button.vue';

import PurchaseDetails from './components/app/PurchaseDetails.vue'
import Timeline from './components/app/Timeline.vue'
import PaymentMethod from './components/app/PaymentMethod.vue'
import CreditCard from './components/app/CreditCard.vue'
import Pix from './components/app/Pix.vue'
import Billet from './components/app/Billet.vue'
import Success from './components/app/Success.vue'

const steps = reactive({ active: 1 })
const payment = reactive({ method: '' })
const nextStep = () => {
  steps.active++
}

const previousStep = () => {
  steps.active = 1
}

const setPaymentMethod = (method: string) => payment.method = method

const isActiveStep = (step: number) => steps.active === step
</script>

<template>
  <div class="flex bg-gray-50 rounded m-5">
    <PurchaseDetails />
    <Timeline :previous="previousStep" :active="steps.active"/>

    <div class="max-w-[45em] p-5 px-8 rounded">
      <PaymentMethod v-if="isActiveStep(1)" :next="nextStep" :setPayment="setPaymentMethod" />

      <div v-if="isActiveStep(2)">
        <div v-show="payment.method == 'credit-card'">
          <CreditCard />
        </div>

        <div v-show="payment.method == 'pix'">
          <Pix />
        </div>

        <div v-show="payment.method == 'billet'">
          <Billet />
        </div>
      </div>

      <div v-if="isActiveStep(3)">
        <Success />
      </div>

      <Button 
          class="h-[2.4em] w-full" 
          @click="isActiveStep(3) ? steps.active = 1 : steps.active++"
      >
        <span v-if="isActiveStep(1)">Prosseguir</span>
        <span v-if="isActiveStep(2)">{{ payment.method == 'credit-card' ? 'Realizar pagamento' : 'Ja fiz o pagamento' }}</span>
        <span v-if="isActiveStep(3)">Voltar ao marketplace</span>
      </Button>
    </div>

    <Toaster />
  </div>
</template>

